{% extends "nav.html" %}
{% load static %}
{% block home_link %}
  <a href="#" class="nav-link px-2 link-secondary">Home</a>
{% endblock home_link %}
{% block main_start %}
<div class="vw-100">
{% endblock main_start %}
{% block main_end %}
</div>
{% endblock main_end %}
{% block nav_start %}
    <div class="container-fluid d-flex flex-column vh-100 overflow-hidden">
  {% endblock nav_start %}
  {% block nav_end %}
  </div>
{% endblock nav_end %}
{% block main %}
  {% comment %} <div class="w-100"></div> {% endcomment %}
  <div class="row flex-grow-1 d-flex flex-row overflow-hidden">
    <div id="sidebar" class="col-1 mh-100 flex-shrink-0 bg-white">
      <a href="/"
         class="d-flex align-items-center pb-3 mb-3 link-dark text-decoration-none border-bottom">
        {% comment %} <svg class="bi me-2" width="30" height="24">
            <use xlink:href="#bootstrap" />
        </svg> {% endcomment %}
        {% comment %} <span class="fs-5 fw-semibold">Collapsible</span> {% endcomment %}
      </a>
      <ul class="list-unstyled ps-0">
        <li class="mb-1">
          <button class="btn btn-toggle align-items-center rounded collapsed"
                  data-bs-toggle="collapse"
                  data-bs-target="#home-collapse"
                  aria-expanded="true">Home</button>
          <div class="collapse show" id="home-collapse">
            <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
              <li>
                <a href="#" class="link-dark rounded">Overview</a>
              </li>
              <li>
                <a href="#" class="link-dark rounded">Updates</a>
              </li>
              <li>
                <a href="#" class="link-dark rounded">Reports</a>
              </li>
            </ul>
          </div>
        </li>
        <li class="mb-1">
          <button class="btn btn-toggle align-items-center rounded collapsed"
                  data-bs-toggle="collapse"
                  data-bs-target="#dashboard-collapse"
                  aria-expanded="false">Dashboard</button>
          <div class="collapse" id="dashboard-collapse">
            <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
              <li>
                <a href="#" class="link-dark rounded">Overview</a>
              </li>
              <li>
                <a href="#" class="link-dark rounded">Weekly</a>
              </li>
              <li>
                <a href="#" class="link-dark rounded">Monthly</a>
              </li>
              <li>
                <a href="#" class="link-dark rounded">Annually</a>
              </li>
            </ul>
          </div>
        </li>
        <li class="mb-1">
          <button class="btn btn-toggle align-items-center rounded collapsed"
                  data-bs-toggle="collapse"
                  data-bs-target="#orders-collapse"
                  aria-expanded="false">Orders</button>
          <div class="collapse" id="orders-collapse">
            <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
              <li>
                <a href="#" class="link-dark rounded">New</a>
              </li>
              <li>
                <a href="#" class="link-dark rounded">Processed</a>
              </li>
              <li>
                <a href="#" class="link-dark rounded">Shipped</a>
              </li>
              <li>
                <a href="#" class="link-dark rounded">Returned</a>
              </li>
            </ul>
          </div>
        </li>
        <li class="border-top my-3"></li>
        <li class="mb-1">
          <button class="btn btn-toggle align-items-center rounded collapsed"
                  data-bs-toggle="collapse"
                  data-bs-target="#account-collapse"
                  aria-expanded="false">Account</button>
          <div class="collapse" id="account-collapse">
            <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
              <li>
                <a href="#" class="link-dark rounded">New...</a>
              </li>
              <li>
                <a href="#" class="link-dark rounded">Profile</a>
              </li>
              <li>
                <a href="#" class="link-dark rounded">Settings</a>
              </li>
              <li>
                <a href="#" class="link-dark rounded">Sign out</a>
              </li>
            </ul>
          </div>
        </li>
      </ul>
      <hr>
      <div class="dropdown flex-grow-1">
        <a href="#"
           class="d-flex align-items-center link-dark text-decoration-none dropdown-toggle"
           id="dropdownUser2"
           data-bs-toggle="dropdown"
           aria-expanded="false">
          <img src="https://github.com/mdo.png"
               alt=""
               width="32"
               height="32"
               class="rounded-circle me-2">
          <strong>mdo</strong>
        </a>
        <ul class="dropdown-menu text-small shadow"
            aria-labelledby="dropdownUser2">
          <li>
            <a class="dropdown-item" href="#">New project...</a>
          </li>
          <li>
            <a class="dropdown-item" href="#">Settings</a>
          </li>
          <li>
            <a class="dropdown-item" href="#">Profile</a>
          </li>
          <li>
            <hr class="dropdown-divider">
          </li>
          <li>
            <a class="dropdown-item" href="#">Sign out</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="resizer container-sm"></div>
    <div id="codemirror" class="col mh-100">
      {% comment %} <div>
        <div class="container py-4 px-3 mx-auto">
          <h1>Hello, Bootstrap and Webpack!</h1>
          <button class="btn btn-primary">Primary button</button>
        </div>
        <div class="container">
          <h1>我的第一个 Bootstrap 页面</h1>
          <p>这是一些文本。</p>
        </div>
        <div class="container-fluid">
          <h1>我的第一个 Bootstrap 页面</h1>
          <p>使用了 .container-fluid，100% 宽度，占据全部视口（viewport）的容器。</p>
        </div>
      </div> {% endcomment %}
    </div>
    <div class="resizer"></div>
    <div id="output" class="col-2 flex-shrink-0">
      <div class="container">
        <h1>我的第一个 Bootstrap 页面</h1>
        <p>这是一些文本。</p>
      </div>
      <div class="container-fluid">
        <h1>我的第一个 Bootstrap 页面</h1>
        <p>使用了 .container-fluid，100% 宽度，占据全部视口（viewport）的容器。</p>
      </div>
    </div>
  </div>
{% endblock main %}
{% block script %}
  <script src="{% static 'cm/main.bundle.js' %}"></script>
{% endblock script %}
